<form>
    <fieldset>
        <nav>
            <label for="nomeExame">Nome do Exame</label>
            <input type="text"  minlength="8" maxlength="64" [(ngModel)]="ExameModelo.nomeExame" name = "nomeExame" required>
            <label for="dataExame">Data do Exame</label>
            <input type="date" [(ngModel)]="ExameModelo.dataExame" name = "dataExame" required>
            <label for ="horaExame">Hora do Exame</label>
            <input type = "time" [(ngModel)]="ExameModelo.horaExame" name = "horaExame" required> 
            <label for="tipoExame">Tipo do Exame</label>
            <input type="text"  minlength="4" maxlength="32" [(ngModel)]="ExameModelo.tipoExame"  name = "tipoExame" required>
            <label for="laboratorio">Laboratorio</label>
            <input type="text"  minlength="4" maxlength="32" [(ngModel)]="ExameModelo.laboratorio"  name = "laboratorio" required>
            <label for="URLDocumentoExame">URL do Documento de Exame</label>
            <input type="text" [(ngModel)]="ExameModelo.URLDocumentoExame" name = "URLDocumentoExame" >
        </nav>
        <div>
            <legend>Resultado do Exame</legend>
            <input type = "textarea"  minlength="16" maxlength="1024" [(ngModel)]="ExameModelo.resultadoExame" name = "resultadoExame" required class = "resultado">
        </div>
    </fieldset>
    <div class="botoes">
        <button  (click)="validarDados()">Salvar</button>
        <button>Editar</button>
        <input type="reset">
    </div> 
</form>
