<div id="nav-menu">
    <div class="bg"></div>
        <div class="button" tabindex="0">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
    <div id="content-menu" tabindex="0">
    <ul>

        
        <li><a routerLink="/inicio" href="/inicio"><p>INICIO</p></a></li>
        <li><a routerLink="/paciente" href="/paciente"><p>CADASTRAR PACIENTES</p></a></li>
        <li><a routerLink="/exame" href="/exame"><p>CADASTRAR EXAME</p></a></li>
        <li><a routerLink="/consulta" href="/consulta"><p>CADASTRAR CONSULTA</p></a></li>
        <li><a routerLink="/listagem-prontuario"><p>LISTAR PRONTUÁRIO</p></a></li>
        <li><a routerLink="/login"><p>SAIR</p></a></li>
        

    </ul>
    </div>
</div>