<form>
    <fieldset>
        <nav>
            <label for="motivoConsulta">Motivo da Consulta</label>
            <input type="text"  minlength="8" maxlength="64">
            <label for="dataConsulta">Data da Consulta</label>
            <input type="date">
            <label for ="horaConsulta">Hora da Consulta</label>
            <input type = "time">
        </nav>
    </fieldset>
    <fieldset>
        <legend>Descrição do Problema</legend>
        <input type = "textarea"  minlength="16" maxlength="1024">
    </fieldset>
    <fieldset>
        <legend>Medicação Receitada</legend>
        <input type = "textarea">
    </fieldset>
    <fieldset>
        <legend>Dosagem e Precauções</legend>
        <input type = "textarea" minlength="16" maxlength="256">
    </fieldset>
    <div class="botoes">
        <button>Salvar</button>
        <button>Editar</button>
        <button>Deletar</button>
    </div> 
</form>
