@import './config-scss/reset.scss';
@import './config-scss/variables.scss';
@import './config-scss/rem-calc.scss';


html{
    font-family: 'Anybody';
    background-color: var(--branco);
}

main {
    
    margin: 0 auto;
    box-sizing: border-box;

}
