@import './config-scss/reset.scss';
@import './config-scss/variables.scss';
@import './config-scss/rem-calc.scss';


html{
    font-family: 'Aldrich', sans-serif;
    font-family: 'Anybody', cursive;
    background-color: var(--branco);
}

main {
    width: rem-calc(1180);
    margin: 0 auto;
    box-sizing: border-box;

}
